<div class="login-bg">
  <div class="logo center-block"><img src="../img/logo-color.png" alt="logo" class="logo" /></div> 
  <br>
  <h3 class="head-color text-center">Sign In</h3>
  <div class="list pad-70">
    <br>
    <label class="item item-input form-transparant">
      <input type="email" placeholder="Email">
    </label>
    <label class="item item-input form-transparant">
      <input type="text" placeholder="Password">
    </label>
    <br>
    <p class="text-center white">forgot password</p>
  </div>
  <div class="bottom-splash">
    <button class="round transparant"> <a ui-sref="app.profile()"> Sign In </a> </button> 
    <button class="round fb">Facebook</button>
  </div>
</div>