<ion-view view-title="Messages" class="bg-grey">
  <ion-content class="iconic padding">
  	<div class="row">
  		<div class="col col-33">
  			<img src="../img/lora.png" class="img-responsive" alt="lora"/>
  		</div>

  		<div class="col col-67 pad-l-20">
  			<h3>Jesica Vicente</h3>
  			<div class="location">
	  			<span>
	  				<i class="ion-ios-location"></i>
	  			</span>
	  			<span> London, Manchester</span>
	  		</div>
	  		<div class="rate">
	  			<span> <i class="ion-ios-star"></i> </span>
	  			<span> <i class="ion-ios-star"></i> </span>
	  			<span> <i class="ion-ios-star"></i> </span>
	  			<span> <i class="ion-ios-star grey"></i> </span>
	  			<span> <i class="ion-ios-star grey"></i> </span>
	  		</div>
  		</div>
  	</div>
  	<br>
  	<br>
  	<div class="row">
  		<div class="col">
  			<ion-tabs class="tabs-icon-only transparent-bg">
		  		<div class="tab-message mar-lm-10">
					  <ion-tab title="Write">
					    <!-- Tab 1 content -->
					    testing
					  </ion-tab>
					  <ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
					    <!-- Tab 2 content -->
					  </ion-tab>
					  <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
					    <!-- Tab 3 content -->
					  </ion-tab>
					</div>
				</ion-tabs>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col">
		  	<ion-view view-title="Facts">
		      <ion-content class="padding">
		        <p>Banging your head against a wall uses 150 calories an hour.</p>
		        <p>Dogs have four toes on their hind feet, and five on their front feet.</p>
		        <p>The ant can lift 50 times its own weight, can pull 30 times its own weight and always falls over on its right side when intoxicated.</p>
		        <p>A cockroach will live nine days without it's head, before it starves to death.</p>
		        <p>Polar bears are left handed.</p>
		        <p>
		          <a class="button icon ion-home" href="#/tab/home"> Home</a>
		          <a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">More Facts</a>
		        </p>
		      </ion-content>
		    </ion-view>
		  </div>
		</div>

  </ion-content>
</ion-view>


