<ion-view view-title="Profile">
  <ion-content>
  	<ion-slide-box on-slide-changed="slideHasChanged($index)">
		  <ion-slide>
		  	<div class="slides">
			    <img src="../img/profile.png" alt=""/ class="profile-bg">
			    <div class="text-slider">
			    	<h3>Mamat Pelor</h3>
			    </div>
			  </div>
		  </ion-slide>

		  <ion-slide>
		    <div class="slides">
			    <img src="../img/profile2.png" alt=""/ class="profile-bg">
			    <div class="text-slider">
			    	<h3>Mamaneh</h3>
			    </div>
			  </div>
		  </ion-slide>
		  
		  <ion-slide>
		    <div class="slides">
			    <img src="../img/profile3.png" alt=""/ class="profile-bg">
			    <div class="text-slider">
			    	<h3>Design Every Where</h3>
			    </div>
			  </div>
		  </ion-slide>
		</ion-slide-box>
		
		<div class="iconic padding">
			<div class="row">
				<div class="col col-50">
					<div class="item item-input item-select bor-none pad-none">
		        <div class="input-label month">
		          AUGUST
		        </div>
		        <select class="year">
		          <option>2015</option>
		          <option selected="">2014</option>
		          <option>2013</option>
		          <option>2012</option>
		          <option>2011</option>
		          <option>2010</option>
		        </select>
		      </div>
		    </div>
	    </div>

	    <div class="row">
	    	<div class="col">
		    	<div class="stat black">
		    		<div class="number">
		    			<h2 class="white">132</h2>
		    		</div>
		    		<div class="percent">
		    			<span class="white">80%</span>
		    		</div>
		    		<img src="../img/lines.png" alt="grapic lines" class="img-responsive"/>
		    		<div class="bottom">
		    			<a href="#">viewed product</a>
		    			<span class="w-18">
		    				<img src="../img/check.png" class="right-block" alt="check">
		    			</span>
		    		</div>
		    	</div>
		    </div>
	    </div>

	    <div class="row">
	    	<div class="col col-45">
		    	<div class="stat orange">
		    		<div class="number">
		    			<h2 class="white">23</h2>
		    		</div>
		    		<div class="percent">
		    			<span class="white">20%</span>
		    		</div>
		    		<img src="../img/lines.png" alt="grapic lines" class="img-responsive"/>
		    		<div class="bottom orange">
		    			<a href="#">purchase</a>
		    			<span class="w-18">
		    				<img src="../img/time.png" class="right-block" alt="check">
		    			</span>
		    		</div>
		    	</div>
		    </div>

		    <div class="col col-55">
		    	<div class="stat blue">
		    		<div class="number">
		    			<h2 class="white">61</h2>
		    		</div>
		    		<div class="percent">
		    			<span class="white">59%</span>
		    		</div>
		    		<img src="../img/lines.png" alt="grapic lines" class="img-responsive"/>
		    		<div class="bottom blue">
		    			<a href="#">comment</a>
		    			<span class="w-18">
		    				<img src="../img/note.png" class="right-block" alt="check">
		    			</span>
		    		</div>
		    	</div>
		    </div>

	    </div>
		</div>
  </ion-content>
</ion-view>